::-webkit-input-placeholder,body {
    text-align: center;
 }

 .action, .fav, .game-image {
     margin:2px;
 }
 .form-control{
     margin:auto;
     height:auto;
    
 }

 .game-image {
     width:250px;
     height:155px;
     
 }
 
 /* light theme */
.t--light {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 5%);
    transition-duration: 1s;
}

.t--light .t-border {
    border: 1.25px solid transparent;
    border-radius: 4px;
    border-color: hsl(0, 0%, 5%);
    transition-duration: 1s;
    
}
  
.t--light .t-menu {
    background-color: hsl(0, 0%, 85%);
    transition-duration: 1s;
    
}
  
.t--light .t-menu__item {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 5%);
    transition-duration: 1s;
    
}

/* dark theme */
.t--dark {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-stroke: 1px transparent;
    transition-duration: 1s;
}
.t--dark .t-border {
    border: 1.25px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    transition-duration: 1s;
    
}
  
.t--dark .t-menu {
    background-color: hsl(0, 0%, 15%);
    transition-duration: 1s;
    
}
  
.t--dark .t-menu__item {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
    transition-duration: 1s;
    
}
  
.o-menu__item {
    transition-duration: 1s;
    transition-property: all;
}

.c-container {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    transition-property: all;
}
  
.c-menu {
    width: calc(100% - 25px);
    height: 40px;
    padding-left: 25px;
    transition-duration: 1s;
    transition-property: all;
}

